.file h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.file {
    padding: 0.25em;
    border: 1px solid black;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
    max-width: 8em;
}

.file img {
    width: 100%;
}