.file-list {
    font-size: 2.2rem;
    width: 100%;
    min-height: 100%;
    margin: 0.75em 0;
}

.file-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.2rem;
    gap: 1em;
    min-height: 10%;
    padding: 0;
    margin: 0;
}

.file-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;

}