.popup.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: none;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.popup__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.popup__content h2 {
    margin-top: 0;
}